# Ignore everything
*

# But keep .gitignore itself
!.gitignore

# And keep README
!README.md


 # Dependencies
# node_modules/
# .next

# # Environment
# .env
# .env.*
# !.env.example

# # Build
# dist/
# build/

# # Logs
# *.log
# logs/

# # IDE
# .vscode/
# .idea/

# # OS
# .DS_Store
# Thumbs.db

# # Temporary
# tmp/
# temp/
